<div class="panel panel-default">
	<div class="panel-heading">
		Server list
	</div>
	<div class="panel-body">
		<table class="table table-hover table-bordered">
			<th>Server name</th>
			<th>CPU</th>
			<th>RAM</th>
			<th>Active processes</th>
			<th>Last seen</th>
			<th>Details</th>
			<tr ng-repeat="server in servers" ng-class="{success: server.healthy, danger: !server.healthy}">
				<td>{{server.stats.hostname}}</td>
				<td>{{server.stats.cpu}}</td>
				<td>{{server.stats.freemem}}</td>
				<td>{{server.stats.active_processes}}</td>
				<td>{{server.lastseen * 1000 | date:'medium'}}</td>
				<td><a href="#/detail/{{server.stats.hostname}}">Show details</a></td>
			</tr>
		</table>

		<p>Check server every <input type="number" min="1" max="60" class="form-control input-sm" style="width:5em; display: inline-block;" ng-model="refreshSeconds" \> seconds for downtime</p>
	</div>
	<div class="panel-footer">
		Made by Jeff Huijsmans
	</div>
</div>